.pokemon-item {
    align-items: center;
    border: 1.8px solid white;
    border-radius: 15px;
    display: flex;
    height: 100px;
    justify-content: flex-start;
    position: relative;
    margin: 10px 10px;
    width: 20rem;
    cursor: pointer;
}

.pokemon-item > p {
    font-size: 1.5rem;
}
.pokeball{
    margin: 0 1rem;
}

.pokemon-item > img {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 70%;
    z-index: 1;
}

.pokemon-item:hover{
    border-color: var(--yellow-pokemon);
}

.pokemon-item:hover .pokeball{
   color: rgb(223, 24, 24, 0.8);
}

.pokemon-item:hover img{
    transform: scale(115%);
    left: 70%;
}